.board {
  margin: 0 auto;
  background-color: #56d256;
  width: 700px;
  height: 700px;
}

.board-item {
  background-color: rgb(3, 104, 3);
}

.board-item.goblin {
  background-image: url(../static//goblin.png);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.board-item.goblin {
  cursor: url('../static/hammer_icon.png'), auto;
}
.board {
  cursor: url('../static/hammer_icon.png'), auto;
}

.counter {
  width: 1000px;
  margin: 0 auto 20px;
  padding: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  background-color: #90eb90;
  border-radius: 8px;
}